#galeria-noticias .modal-detalle {
  
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}


#galeria-noticias .modal-content{
	 
  /*  background-color: #fefefe; */
    margin: auto;
  /*  padding: 30px; */
    padding: 0px;
    border: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.5);
    box-shadow: 0 0px 0px rgba(0,0,0,0.5);
  /*  border: 1px solid #888; */
    /*width: 70%;*/  
    /* height: 80%; */
}



#galeria-noticias .carousel-control.left{                   background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.5) 0),color-stop(rgba(0,0,0,0.0001) 0%));background-image:linear-gradient(to right,rgba(249, 246, 246, 0.5) 0,rgba(0,0,0,0.0001) 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1)}
#galeria-noticias .carousel-control.right{right:0;left:auto;background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.5) 0),color-stop(rgba(0,0,0,0.0001) 0%));background-image:linear-gradient(to right,rgba(0, 0, 0, 0.5) 0,rgba(0,0,0,0.0001) 0%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#00000000',GradientType=1)}
