

<section>


	<div class="container">
		<div class="main-contacto">


			<form class="form-basic" method="post" action="mail.php">

				<div class="form-title-row">
					<h1>Contacto</h1>
				</div>

				<div class="form-row">
					<label> <span>Nombre</span> <input type="text" name="name"
						placeholder="Introduzca un nombre de contacto" required autofocus>
					</label>
				</div>

				<div class="form-row">
					<label> <span>Email</span> <input type="email" name="email"
						placeholder="Introduzca un email de contacto" required>
					</label>
				</div>

				<div class="form-row">
					<label> <span>Tel&eacutefono</span> <input type="tel"
						name="telefono"
						placeholder="Introduzca un tel&eacute;fono de contacto">
					</label>
				</div>

				<div class="form-row">
					<label> <span>Asunto</span> <input type="text"
						name="asunto" placeholder="">
					</label>
				</div>


				<div class="form-row">
					<label> <span></span> <textarea name="message"></textarea>
					</label>
				</div>


				<div class="form-row">
					<button type="submit" data-submit="...Sending">Enviar</button>
				</div>

			</form>

		</div>

	</div>
</section>
