

<section  id="contacto-section">

<br>
<br>

	<div class="container">
		<div class="main-contacto texto" id="contacto-direccion">
		
				
				<div class="text-right">
					<a href="https://goo.gl/maps/2We8c3BwouC2" target="_blank">				
						<img src="images/contacto/planoUbicacion.png" width="100%" height="100%" />
					</a>					
				</div>
				
				<br><br>
				
				<div class="text-center">
					<span class="sinSaltoLinea">
						<span class="text-titulo">d</span>&nbsp;
						<span class="text-separador">&middot</span>&nbsp;
						<span class="text-detalle">
							Plaza Marqu&eacute;s de Heredia, 8, 2-1, 04001 Almer&iacute;a 
						</span>						
					</span>
					  
 				    <span class="sinSaltoLinea">
 				    	<span class="text-titulo">m</span>&nbsp;
						<span class="text-separador">&middot</span>&nbsp;
						<span class="text-detalle">
							<a href="mailto:info@palera.es"	class="text-detalle">info@palera.es</a>
						</span>
					 </span>
					  
					<span class="sinSaltoLinea">
						<span class="text-titulo">t</span>&nbsp;
						<span class="text-separador">&middot</span>&nbsp;
						<span class="text-detalle">699 36 73 89 / 635 62 30 01</span>
					</span>
					 
					 <br /><br />
					<span class="sinSaltoLinea">
						<span>
							<a href="http://www.facebook.com/palera.es/" class="facebook" target="_blank"></a>
						</span>
					</span>
					
				</div>
			

		</div>

	</div>
</section>
