

    <section id="home-slider">
        <div class="container">
            <div class="main-slider">
                <div class="slide-text">                    
                    <h1 class="fontTitPalera">PALERA</span>&nbsp;&nbsp;<span class="fontTitArquitectos">arquitectos</h1>
                  <!--  <p>Un poquito de como surgi&oacute esta idea de proyecto ....</p> -->
                </div>
                <div class="main-text">    
	                <img src="images/inicio/slider/01-01.png" class="img-responsive slider-palera1" alt="slider image">
	                <img src="images/inicio/slider/02-01.png" class="img-responsive slider-palera2" alt="slider image">
	                <img src="images/inicio/slider/03-01.png" class="img-responsive slider-palera3" alt="slider image">
	                <img src="images/inicio/slider/04-01.png" class="img-responsive slider-palera4" alt="slider image">
	              </div>
                
                
            </div>
        </div>

    </section>
    <!--/#home-slider-->
