
<section id="palera-section">
	<div class="container texto">
		<div class="main-palera">
		
		
		
				
			<section  id="palera-imagen-section">
		
					<div class="container">
						<div id="imagen-palera">
												
								<div class="texto text-center">											
										<img src="images/palera/estudioPalera.png" />																
								</div>		
						</div>		
					</div>
					
				</section>
				
			
			<section id="palera-resumen">
				<div class="palera-text">
					<h1 class="fontTitPalera">
						PALERA</span>&nbsp;&nbsp;<span class="fontTitArquitectos">arquitectos
					</h1>
					<p class="text-tipo1 text-center">Nace en tiempos de crisis en rebeldía hacia la ``Arquitectura´´ establecida en el ``Boom´´. Cansados de ver como nuestras ciudades crecen convertidas en un producto comercial alimentado de la incultura arquitectónica, empezamos nuestra labor conjunta en busca de un modelo donde se dotase de todo el protagonismo al espacio y la funcionalidad. Para ello, huimos del encorsetamiento en un estilo con soluciones genuinas que surgen en un tiempo concreto, dando respuestas individualizadas según las necesidades del cliente y el lugar escogido.</p>
				</div>
			</section>

			<section id="palera-fotos">
				<article class="izquierda">
					<div class="palera-foto div-img">						
							<div class="containerImg">
								<div class="div-img">
									<a href="javascript:void(0)" id="verDetalle">
										<img class="img miembro" src="images/palera/sergio-foto.png">
									</a>
									<div class="text-miembro">
										<div class="text texto-t1">Sergio J. D&iacute;az Parra</div>
										<div class="text texto-t2">[Almería, 1990]</div>
										<div class="text texto-t3">	
	Arquitecto titulado en 2014 por la Universidad de Las Palmas de Gran Canaria. Máster en Construcción y Tecnología de los Edificios Históricos en 2016 por la Universidad Politécnica de Madrid. Desde 2014 inicia un periodo de colaboraciones con diferentes estudios, siendo en 2017 cuando decide compaginarlas con su trabajo de forma autónoma. Al mismo tiempo, se dedica al mundo de la investigación, centrándose en temas relacionados con el patrimonio histórico, como es el caso de la caracterización de morteros, exponiendo su trabajo en diferentes congresos de ámbito nacional e internacional.
										</div>
									</div>
									
								</div>
							</div>

						   <div class="text-pie">
								<div class="texto-email">
									<span class="text-titulo">m</span>&nbsp;<span
										class="text-separador">&middot</span>&nbsp;<a
										href="mailto:sergio@palera.es" class="text-detalle">sergio@palera.es</a>
								</div>
								<div>
									<a
										href="https://es.linkedin.com/in/sergio-j-d%C3%ADaz-parra-5a332a6b"
										class="linkedin" target="_blank"></a>
								</div>
						</div>
					</div>
				</article>

				<article class="derecha">
					<div class="palera-foto div-img">
						
							<div class="containerImg">
								<div class="div-img">
									<a href="javascript:void(0)" id="verDetalle2">
											<img class="img miembro" src="images/palera/juanma-foto.png">
									</a>
									<div class="text-miembro">
										<div class="text texto-t1">Juan M. Caldero Navarro</div>
										<div class="text texto-t2">[Almería, 1990]</div>
										<div class="text texto-t3">	
	Arquitecto titulado en 2016 por la Universidad de las Palmas de Gran Canaria. Desarrolla su PFC en el Cabo de Gata investigando sobre "construir lo construido" en la antigua planta de cianuración de Rodalquilar. En 2017 sigue formándose realizando diferentes cursos BIM, modelado arquitectónico y sobre CTE a la misma vez que colabora con diferentes estudios almerienses, hasta llegar a finales de 2017 donde cofunda Palera arquitectos.
										</div>
									</div>
								</div>
							</div>
						
						<div class="text-pie">
							<div class="texto-email">
								<span class="text-titulo">m</span>&nbsp;<span
									class="text-separador">&middot</span>&nbsp;<a
									href="mailto:juanma@palera.es" class="text-detalle">juanma@palera.es</a>
							</div>
							<div>
								<a
									href="https://es.linkedin.com/in/juan-m-caldero-navarro-042a9397"
									class="linkedin" target="_blank"></a>
							</div>
						</div>
					</div>
				</article>

			</section>

<!-- 
			<section id="palera-colaboradores">
				<div>
					<span class="text-center-bold"> Colaboradores </span> <br>
					nueve m2 (Arquitecto T&eacutecnico)<br> Adri&aacuten Morata
					Castell&oacute (Fot&oacutegrafo)<br> Antonio Cerezuela
					(Escultor) <br> <br>
				</div>

			</section>
 -->
		</div>
	</div>

</section>
